@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply border-t border-gray-200 border-gray-700 pt-8 dark:mt-12;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

a[target="_blank"]:not([data-no-external-icon="true"])::after {
  content: " ";
  background: url("/static/svg/external-link.svg");
  background-size: 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  transform: translateY(0.125em);
}

.youtube-embed {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
