.container {
  --bg-color: inherit;
  --border-color: inherit;
  --color-info-50: #f0f9ff;
  --color-info-100: #e0f2fe;
  --color-info-200: #bae6fd;
  --color-info-400: #38bdf8;
  --color-danger-50: #fff5f5;
  --color-danger-100: #fed7d7;
  --color-danger-200: #feb2b2;
  --color-danger-400: #f56565;
  --color-warn-50: #fff7ed;
  --color-warn-100: #ffedd5;
  --color-warn-200: #fed7aa;
  --color-warn-400: #fb923c;

  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center start;
  gap: 0.5rem;
  padding: 1rem;

  @apply my-6 rounded-lg;
}

$statuses: info, warn, danger;

@each $color in $statuses {
  .--#{$color} {
    background-color: var(--color-#{$color}-100);

    code {
      background-color: var(--color-#{$color}-50);
    }

    li::marker {
      color: var(--color-#{$color}-400);
    }
  }
}

.title {
  @apply font-medium text-gray-800;

  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  line-height: 1.5rem;
  font-size: 1rem;

  // Maybe better to switch to :has() when Firefox supports it.
  & + .message {
    grid-column: 1 / -1;
  }
}

.message {
  line-height: 1.7;
  font-size: 1rem;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    padding-left: 1rem;
  }
}

.icon {
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
