@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clickable-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: inherit;
  }
}
